{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/css/casestudies.css" />
<link rel="stylesheet" property="stylesheet" href="https://elixirtess.github.io/TeSS_widgets/css/tess-widget.css"/>

<!-- Bioschemas / schema.org annotation -->
<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "SoftwareApplication",
    "http://purl.org/dc/terms/conformsTo": {
      "@type": "CreativeWork", "@id": "https://bioschemas.org/profiles/ComputationalTool/1.0-RELEASE"
    },
    "@id" : "https://vhp4safety.github.io/cloud/service/{{ tool_details.id }}",
    "description": "{{ tool_details.description }}",
    {% if tool_details.instance and tool_details.instance.url %}
    "url": "{{ tool_details.instance.url }}",
    {% else %}
    "url": "{{ tool_details.url}}",
    {% endif %}
    "name": "{{ tool_details.service }}"
  }
</script>


<section class="container py-5">
    <div class="pb-2">
        <h1><span class="text-vhppink" id="collection-name">{{ tool_json.service }}</span></h1>

    </div>
    
<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link text-vhppink active" id="simple-tab-0" data-bs-toggle="tab" href="#simple-tabpanel-0" role="tab" aria-controls="simple-tabpanel-0" aria-selected="true">Overview</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link text-vhppink" id="simple-tab-2" data-bs-toggle="tab" href="#simple-tabpanel-1" role="tab" aria-controls="simple-tabpanel-2" aria-selected="false">Documentation</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link text-vhppink" id="simple-tab-3" data-bs-toggle="tab" href="#simple-tabpanel-2" role="tab" aria-controls="simple-tabpanel-3" aria-selected="false">Support</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content" id="tab-content">
      <!-- first tab -->
      <div class="tab-pane active" id="simple-tabpanel-0" role="tabpanel" aria-labelledby="simple-tab-0">
        {% if tool_details.screenshot %}
        <div class="row">
          <div class="col-md-6">
            <p>{{ tool_json.description }}
        {% if tool_details.stage %}
        <div style="margin-top: 5px">
          {% if tool_details.stage == "https://vhp4safety.github.io/glossary#VHP0000102" or
                tool_details.stage == "https://vhp4safety.github.io/glossary#VHP0000153"%}
          <span data-bs-toggle="tooltip" title="xxx">
            <button class="btn btn-primary btn-vhpblue card-button-vhpblue" type="submit">Hazard / Chemical Characteristics</button>
          </span>
          {% endif %}
          {% if tool_details.stage == "https://vhp4safety.github.io/glossary#VHP0000154" %}
          <span data-bs-toggle="tooltip" title="xxx">
            <button class="btn btn-primary btn-vhpblue card-button-vhpblue" type="submit">External Exposure</button>
          </span>
          {% endif %}
          {% if tool_details.stage == "https://vhp4safety.github.io/glossary#VHP0000056" or
                tool_details.stage == "https://vhp4safety.github.io/glossary#VHP0000155" %}
          <span data-bs-toggle="tooltip" title="xxx">
            <button class="btn btn-primary btn-vhpblue card-button-vhpblue" type="submit">Toxicokinetics / ADME</button>
          </span>
          {% endif %}
          {% if tool_details.stage == "https://vhp4safety.github.io/glossary#VHP0000156" %}
          <span data-bs-toggle="tooltip" title="xxx">
            <button class="btn btn-primary btn-vhpblue card-button-vhpblue" type="submit">Toxicodynamics / AOP</button>
          </span>
          {% endif %}
          {% if tool_details.stage == "https://vhp4safety.github.io/glossary#VHP0000158" %}
          <span data-bs-toggle="tooltip" title="xxx">
            <button class="btn btn-primary btn-vhpblue card-button-vhpblue" type="submit">Adverse Outcome</button>
          </span>
          {% endif %}
        </div>
        {% endif %}
        {% if tool_details.get("regulatory-question") %}
        <div style="margin-top: 5px">
          {% if tool_details.get("regulatory-question").get("1a") == "true" or
                tool_details.get("regulatory-question").get("1b") == "true" %}
          <span data-bs-toggle="tooltip" title="Used in the Kidney Case Study"><img src="/static/images/image43_hexagon.svg" alt="Kidney case study" style="max-width: 40px; margin: 0 auto; align: left"></span>
          {% endif %}
          {% if tool_details.get("regulatory-question").get("2a") == "true" or
                tool_details.get("regulatory-question").get("2b") == "true" %}
          <span data-bs-toggle="tooltip" title="Used in the Parkinson Case Study"><img src="/static/images/image45_hexagon.svg" alt="Parkinson case study" style="max-width: 40px; margin: 0 auto; align: left"></span>
          {% endif %}
          {% if tool_details.get("regulatory-question").get("3a") == "true" or
                tool_details.get("regulatory-question").get("3b") == "true" %}
          <span data-bs-toggle="tooltip" title="Used in the Thyroid Hormone Case Study"><img src="/static/images/image47_hexagon.svg" alt="Thyroid hormone case study" style="max-width: 40px; margin: 0 auto; align: left"></span>
          {% endif %}
        </div>
        {% endif %}
          </div>
          <div class="col-md-6 pt-md-0 pt-2 mt-md-0 mt-1">
            {% if tool_details.instance and tool_details.instance.url %}
            <a href="{{ tool_details.instance.url }}" target="_blank"><img src="https://cloud.vhp4safety.nl/service/{{ tool_details.screenshot }}" class="card-img-bottom" alt="Image showing the logo or screenshot of the project."></a>
            {% else %}
            <img src="https://cloud.vhp4safety.nl/service/{{ tool_details.screenshot }}" class="card-img-bottom" alt="Image showing the logo or screenshot of the project.">
            {% endif %}
          </div>
        </div>
        {%else%}
        <div class="row">
          <p>{{ tool_json.description }}
        {% if tool_details.get("regulatory-question") %}
        <div style="margin-top: 5px">
          {% if tool_details.get("regulatory-question").get("1a") == "true" or
                tool_details.get("regulatory-question").get("1b") == "true" %}
          <span data-bs-toggle="tooltip" title="Used in the Kidney Case Study"><img src="/static/images/image43_hexagon.svg" alt="Kidney case study" style="max-width: 40px; margin: 0 auto; align: left"></span>
          {% endif %}
          {% if tool_details.get("regulatory-question").get("2a") == "true" or
                tool_details.get("regulatory-question").get("2b") == "true" %}
          <span data-bs-toggle="tooltip" title="Used in the Parkinson Case Study"><img src="/static/images/image45_hexagon.svg" alt="Parkinson case study" style="max-width: 40px; margin: 0 auto; align: left"></span>
          {% endif %}
          {% if tool_details.get("regulatory-question").get("3a") == "true" or
                tool_details.get("regulatory-question").get("3b") == "true" %}
          <span data-bs-toggle="tooltip" title="Used in the Thyroid Hormone Case Study"><img src="/static/images/image47_hexagon.svg" alt="Thyroid hormone case study" style="max-width: 40px; margin: 0 auto; align: left"></span>
          {% endif %}
        </div>
        {% endif %}
        </div>
        {% endif %}
        {% if tool_details.Other %}
          {% if tool_details.Other.wikipedia %}
          <p>More at <a href="{{ tool_details.Other.wikipedia }}">Wikipedia</a>.</p>
          {% endif %}
        {% endif %}
        <!-- Instance Page -->
        {% if tool_details.instance %}
          {% if tool_details.instance.url %}
          <div style="margin-top: 5px">
            <a type="button" href="{{ tool_details.instance.url }}" class="btn btn-vhppink flex-grow-1" target="_blank" data-bs-toggle="tooltip" data-bs-title="Try VHP-hosted instance">Run the tool</a>
          </div>
          {% endif %}
        {% elif tool_details.url %}
          <div style="margin-top: 5px">
            <a type="button" href="{{ tool_details.url}}" class="btn btn-outline-vhppink flex-grow-1" data-bs-toggle="tooltip" data-bs-title="Try non-VHP instance">Run the tool</a>
          </div>
        {% endif %}
      </div>
      <!-- second tab -->
      <div class="tab-pane" id="simple-tabpanel-1" role="tabpanel" aria-labelledby="simple-tab-1">
        <h2>VHP service information</h2>
        <ul style="list-style-type:disc">
        {% if tool_details.intro %}
          <li>Intro: <a href={{ tool_details.intro.url }}>{{ tool_details.intro.title }}</a></li>
        {% endif %}
        {% if tool_details.demo %}
          <li>Demo: <a href={{ tool_details.demo.url }}>{{ tool_details.demo.title }}</a></li>
        {% endif %}
        {% if tool_details.workflow %}
          <li>Workflow: <a href={{ tool_details.workflow.url }}>{{ tool_details.workflow.title }}</a></li>
        {% endif %}
        </ul>
        {% if tool_details.get('ELIXIR') and tool_details.ELIXIR.get('tess') %}
        <h2 class="pt-2">Taxila.nl</h2>
        <div id="taxila-widget-materials-table" class="tess-widget tess-widget-faceted-table"></div>
        <h2 class="pt-2">ELIXIR TeSS</h2>
        <div id="tess-widget-materials-table" class="tess-widget tess-widget-faceted-table"></div>
        {% else %}
        <!-- At this moment no documentation is (known to be) registered in <a href="https://taxila.nl/">Taxila.nl</a> or
        <a href="https://tess.elixir-europe.org/">ELIXIR TeSS</a>. -->
        {% endif %}
        {% if tool_details.get('ELIXIR') and tool_details.ELIXIR.get('biotools') %}
        <h2 class="pt-2">Technical documentation</h2>
        <ul>
          <li><a href="https://bio.tools/{{ tool_details.ELIXIR.get('biotools') }}">bio.tools</a></li>
        </ul>
        {% endif %}
        {% if tool_details.doi %}
  <div id="bibliographyDIV" style="visibility: hidden">
  <h3 class="pt-2">References</h3>
  <div id="bibliography"></div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/citation-js"></script>
  <script>var Cite = require('citation-js')</script>
  <script>
          const cite = new Cite();
          dois = [];
          dois.push("{{ tool_details.doi }}");
  Cite.async(dois).then(function(cite) {
    content = cite.format('bibliography', {
      format: 'html', template : 'apa',
      prepend: function (entry) {
        return '<li><i class="fa-solid fa-file fa-xs"></i>&nbsp;'
      },
      append: function (entry) {
        return '<a href="https://doi.org/' + entry.DOI + '">CrossRef</a> <a href="https://scholia.toolforge.org/doi/' + entry.DOI + '">Scholia</a></li>'
      }
    })
    document.getElementById('bibliography').innerHTML = "<ul>" + content + "</ul>"
    document.getElementById('bibliographyDIV').style.visibility = "visible"
  })          </script>
        {% endif %}
        {% if tool_details.instance %}
        <h2>Technical information</h2>
        <ul>
          {% if tool_details.instance.version %}<li>Version: {{ tool_details.instance.version }}</li>{% endif %}
          {% if tool_details.instance.license %}<li>License: {{ tool_details.instance.license }}</li>{% endif %}
          {% if tool_details.instance.source %}<li>Source code: <a href="{{ tool_details.instance.source }}">{{ tool_details.instance.source }}</a></li>{% endif %}
          {% if tool_details.instance.docker %}<li>Docker: <a href="{{ tool_details.instance.docker }}">{{ tool_details.instance.docker }}</a></li>{% endif %}
        </ul>
        {% endif %}
        <ul>
        {% if tool_details.Other %}
          {% if tool_details.Other.rsd %}
          <li>Research Software Directory: <a href="https://research-software-directory.org/software/{{ tool_details.Other.rsd }}">{{ tool_details.Other.rsd }}</a>.</p>
          {% endif %}
        {% endif %}
        </ul>
      </div>
      <!-- third tab -->
      <div class="tab-pane" id="simple-tabpanel-2" role="tabpanel" aria-labelledby="simple-tab-3">
        <h2 class="pt-2">Contact</h2>
        <ul>
          {% if tool_details.provider %}{% if tool_details.provider.contact %}
            {% if tool_details.provider.contact.name %}
              <li>{% if tool_details.provider.email %}<a href="mailto:{{tool_details.provider.email}}">{% endif %){{ tool_details.provider.contact.name }}{% if tool_details.provider.name %}{% if tool_details.provider.email %}</a>{% endif %) ({{ tool_details.provider.name }}){% endif%}</li>
            {% else %}
              {% if tool_details.provider.name %}<li>{{ tool_details.provider.name }}</li>{% endif%}
            {% endif %}
          {% endif %}{% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
function initTeSSWidgets() {
    if (typeof TessWidget === 'undefined' || !TessWidget.Materials) {
        console.warn('TeSS widget library not available, skipping initialization.');
        return;
    }

    const taxilaContainer = document.getElementById('taxila-widget-materials-table');
    if (!taxilaContainer) {
        console.warn('No Taxila widget container found.');
        return;
    }

    TessWidget.Materials(taxilaContainer, 'FacetedTable', {
        opts: {
            columns: [
                { name: 'Name', field: 'title' },
                { name: 'Description', field: 'description' }
            ],
            allowedFacets: ['scientific-topics', 'target-audience'],
            facetOptionLimit: 5
        },
        params: {
            pageSize: 5,
            q: '{{ tool_details.get("ELIXIR", {}).get("tess", "") }}'
        },
        baseUrl: 'https://taxila.nl'
    });

    const tessContainer = document.getElementById('tess-widget-materials-table');
    if (!tessContainer) {
        console.warn('No TeSS widget container found.');
        return;
    }

    TessWidget.Materials(tessContainer, 'FacetedTable', {
        opts: {
            columns: [
                { name: 'Name', field: 'title' },
                { name: 'Description', field: 'description' }
            ],
            allowedFacets: ['scientific-topics', 'target-audience'],
            facetOptionLimit: 5
        },
        params: {
            pageSize: 5,
            q: '{{ tool_details.get("ELIXIR", {}).get("tess", "") }}'
        }
    });
}
</script>


<script async defer src="https://elixirtess.github.io/TeSS_widgets/js/tess-widget-standalone.js"
        onload="if (typeof initTeSSWidgets === 'function') initTeSSWidgets();">
</script>

</section>
{% endblock %}
